footer a{
    color: rgb(255, 35, 35);
    text-decoration: none;
}
footer{
    text-align: center;
    font-weight: bold;
    border: rgb(255, 35, 35) 1px solid;
    color: white;
    position: relative;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
}