header{
    text-align: center;
    padding: 5%;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../IMG/back.jpg);
    margin: -1%;
    margin-bottom: 0%
}
header h1{
    border: rgb(255, 35, 35) 1px solid;
    color: rgb(255, 35, 35);
    background-color: #252525 ;
    opacity: 70%;
}

